html { }

body {
    background-color:#1B2632;
    color:#F1E64E;
}

body > .container-fluid {
    margin-top:10px;
}

.navbar {border:0px;}

.navbar-header {
    background-color:#1B2632;
    font-family: 'Press Start 2P', cursive;
    font-size:10px;
    float:left;
    padding:45px;
    text-align:center;
    width:100%;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
    float:none;
    color:white;
    font-size:40px;
}

/*Extra Small Devices */
@media screen and (max-width: 767px) {
    .navbar .navbar-brand, .navbar .navbar-brand:hover {
    font-size:20px;
}
}

h1 {
    font-family: "Press Start 2P", cursive;
    font-size:18px;
}

.left {
    text-align:left;
}

nav.navbar.navbar.navbar-default {
    margin-bottom:0px;
}

hr {margin:2px; height:6px;}

.rl {color:red; background-color:red; border-color:red;}
.bl {color:blue; background-color:blue; border-color:blue;}
.gl {color:green; background-color:green; border-color:green;}

.center {text-align:center;}